body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem; 
    color: aliceblue;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
.Meme{
    border: 5px solid white;
    width: 100%;
}
.poster{
    width: 50%;
    margin-top: 50px;
    margin-left: 25%;
}